@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    /*1.*/
    background-color: #7bdaf3;
    display: flex;
    flex-wrap: wrap;
    /*wrap, the pbject splits in two if the line its positioned has not enough room for the element, making it continues in the next line.*/
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.notes {
    background-color: #ffffff;
    height: 400px;
    width: 400px;
}
.notes .tools {
    background-color: #9ce862;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}
.notes .tools button {
    background-color: transparent;
    /*Then the color of the element will be the same as the container.*/
    color: #ffffff;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.notes .main {
    /*1.display prop. will be used for edit btn, so display will be none.*/
    height: 100%;
    width: 100%;
}
.notes textarea {
    outline: none;
    /*outline, refers to the border line when we click or focus in a element, for example the text area.*/
    font-family: inherit;
    border: none;
    height: 100%;
    width: 100%;
}

.notes .hidden {
    display: none;
}