@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    /*1.*/
    background-color: #7bdaf3;
    display: flex;
    flex-wrap: wrap;
    /*wrap, se parte si no hay suficiente espacio en la linea. Por lo tanto el objeto continua en la linea siguiente.*/
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.notes {
    background-color: #ffffff;
    height: 400px;
    width: 400px;
}
.notes .tools {
    background-color: #9ce862;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}
.notes .tools button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
}